.card{
  background-color: transparent;
  border-color: rgb(212, 213, 233);
}

.card-block{
  padding: 0;
}

.container{
  padding: 10px;
  max-width: 100%;
  position: relative;
}

.card-header{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  min-height: 30px;
  background-color: rgba(198, 149, 154, 0.69);
}

.category-text{
  margin-left: 18px;
  font-size: 22px;
  font-weight: bold;
  padding: 0;
  max-width: auto;
  word-wrap: break-word;
  /*min-height: 55px;*/
}

.container-questions{
  margin: 0;
  padding: 10px;
}

.row-questions{
  position: relative;
  border-style:  none none solid none;
  border-width: thin;
  border-color: #DFDFDF;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  vertical-align: middle;
  min-height: 45px;
}

.category-buttons{
  text-align: center;
}

.category-button-edit{
  background-color: transparent;
  color: white;
}

.category-button-delete{
  background-color: transparent;
  color: white;
  border-left: 1px solid white;
}

.category-button:hover{
  font-size: 0.9em;
}

.pos-question{
  margin: 0;
  line-height: 30px;
}

.question-text{
  margin: 0;
  line-height: 25px;
}

.col-q{
  min-height: inherit;
}

.col-questions{
  padding: 0;
  position: relative;
  top: 50%;
  text-align: center;
  margin-top: -0.9em;
  min-height: 45px;

}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.alert{
  position: absolute;
}

.form-group{
  margin : 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

.input-category{
  position: absolute;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-bottom-width: thin;
  border-bottom-color: black;
  z-index: inherit;
}

.input-category-name{
  background-color: transparent;
  color: white;
  border-style: none none solid none;
  border-color: white;
}

input[type='text'] { font-size: 24px; color: white;}

#add-category-text{
  position: relative;

  vertical-align: middle;
  color: white;
  line-height: 58px;
  font-size: 35px;
  font-family: 'Roboto';
  font-weight: 400;
  text-align: center;
  transition: all 0.03s;
}

.add-category{
  margin-top: 15px;
  min-width: 100%;
  height: auto;
  text-align: center;
}

.add-category-button {
	color: #fff;
	border: 1px solid;
	border-radius: 300px;
	padding: 15px 45px;
	font-size: 16px;
  transition: all 0.3s;
}

.add-category-button:hover {
  transition: all 0.3s;
  background-color: rgba(219, 192, 121, 0.83);
  font-weight: bolder;
}

.add-category-button:active {
  transition: all 0.3s;
  background-color: rgba(219, 192, 121, 0.83);
  font-weight: bolder;
}

.add-button{
  background-color: rgb(226, 199, 17);
  border-color: rgb(226, 199, 17);
}
.remove-button{
  background-color: rgb(196, 50, 68);
  border-color: rgb(196, 50, 68);
}
.add-up-button{
  background-color: rgb(226, 199, 17);
  border-color: rgb(226, 199, 17);
}

.add-svg {
  background-image: url('../assets/add.svg');
  background-position: center;
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
}

.add-question{
  min-width: 100%;
  height: auto;
  text-align: right;
  padding-right: 25px;
  margin-bottom: 15px;
}

.add-question-button{
  background-image: url('../assets/addQ.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.question-button{
  height: 30px;
  width: 30px;
  vertical-align: middle;
  padding: 0;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s;
  border-radius: 50%;
}

.question-button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s;
  /*transform: translateZ(10px);*/
}
.question-button:hover .question-text-button{
  transition: all 0.03s;
  top: -0.5px;
  font-size: 22px;
  font-weight: 500;
}
