<div class="container-cover" [style.min-height.px]="height" >
<div *ngIf="firstTime()" class="container container-full" >
    <div *ngIf="newProject" class="inicio" [style.margin-top.px]="height/2-120">
        <a (click)="start()" class="btn btn-xl ">Crea tu primer proyecto</a>
    </div>
    <div *ngIf="!newProject" class="container-form" [style.margin-top.px]="getMargin()">
        <div class="login-text">
            <h2>Tu proyecto:</h2>
        </div>
        <form  name="form" class="form-login"   novalidate>
            <div class="form-group">
                <textarea class="form-control text-titulo" id="exampleTextarea"
                rows="4" placeholder="Titulo de tu proyecto"></textarea>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-text" name="username"
                placeholder="Nombre del asesor" required />
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-text" name="password"
                placeholder="Nombre del curso" required />
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                      <label class="col-form-label text-periodo">Actividad:</label>
                    </div>
                    <div class="col">
                        <select class="form-control select-program" required >
                            <option value="" class="select-option" selected >Individual</option>
                            <option value="" class="select-option"  >Grupal</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-text" name="password"
                placeholder="Tipo de proyecto" required />
                <popover-content #myPopover
                    class = "help-popover"
                    placement="left"
                    [animation]="true"
                    [closeOnClickOutside]="true" >
                    <div class="help-text">
                      Ej. proyecto de grado, proyecto de diseño, proyecto de mitad de carrera,
                      proyecto de un curso, proyecto especial, tesis, proyecto de Expoandes.
                    </div>
                </popover-content>
                <a class="help" aria-label="Left Align" ata-container="body"
                [popover]="myPopover" [popoverDismissTimeout]="4000" >
                  <i class="fa fa-question-circle fa-2x color" aria-hidden="true"></i>
                </a>
            </div>
            <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label class="col-form-label text-periodo">Periodo:</label>
                  </div>
                  <div class="col col-year">
                  <input type="number" class="form-control input-year" size="4" min="1990"
                  [max]="this.year" step="1" [value]="year" />
                  </div><div class="col">
                  <input type="number" class="form-control input-periodo" size="1"
                  min="1990" max="3" step="1" value="1" />
                  </div>
                </div>
            </div>
            <div class="form-group">
              <select class="form-control select-program" required >
                <option value="" disabled selected hidden>Escoge tu programa...</option>
                <option class="select-option" *ngFor="let carrera of carreras"
                    [value]="carrera" >
                  {{carrera}}
                </option>
                <!-- <option *ngFor="carrera of carreras" class="select-option">{{carrera}}</option> -->
              </select>
            </div>
            <div class="form-group" style="text-align: center;">
                <a (click)="createProject()" class="btn btn-xl ">Empezar</a>

            </div>
        </form>
      </div>
</div>
</div>
