<div class="container-cover" [style.min-height.px]="height" >
<div class="container container-full" >
    <div *ngIf="noProjects && !newProject" class="inicio" [style.margin-top.px]="height/2-120">
        <a (click)="add()" class="btn btn-xl ">Crea tu primer proyecto</a>
    </div>
    <div *ngIf="!noProjects && !newProject" class="container-form" [style.margin-top.px]="getMargin()">
          <div class="titulo-lista">
              <h2>Proyectos:</h2>
          </div>
          <div class="row card-header" *ngFor="let project of projects; let i = index" [style.background-color]="getColor(i)">
              <div class="col-11 project-name" (click)="continue(i)">
                {{project.title}}
              </div>
              <div class="col-1 project-delete">
                  <i class="fa fa-trash-o fa-2x delete-button"
                    (click)="delete(i)" aria-hidden="true"></i>
              </div>
          </div>
          <a (click)="add()" class="btn btn-xl ">Agregar proyecto</a>
    </div>
    <div *ngIf="newProject"  class="container-form" [style.margin-top.px]="getMargin()">
        <div class="login-text">
            <h2>Nuevo proyecto:</h2>
        </div>
        <form  name="form" #projectForm="ngForm" class="form-login"   novalidate>
            <div class="form-group">
                <textarea class="form-control text-titulo"
                [(ngModel)] = "currentProject.title" name="title" #title="ngModel"
                rows="4" placeholder="Título de su proyecto"
                required minlength="4"></textarea>
                <div *ngIf="title.invalid && (title.dirty || title.touched)"
                     class="alert alert-danger">
                    <div *ngIf="title.errors.required">
                      El título es requerido
                    </div>
                    <div *ngIf="title.errors.minlength">
                      El título debe ser de al menos 4 caracteres
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-text"
                [(ngModel)] = "currentProject.adviser" name="adviser" #adviser="ngModel"
                placeholder="Nombre del asesor"
                required minlength="6"/>
                <div *ngIf="adviser.invalid && (adviser.dirty || adviser.touched)"
                     class="alert alert-danger">
                    <div *ngIf="adviser.errors.required">
                      El nombre del asesor es requerido
                    </div>
                    <div *ngIf="adviser.errors.minlength">
                      El nombre del asesor debe ser de al menos 4 caracteres
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-text"
                [(ngModel)] = "currentProject.subject" name="subject" #subject="ngModel"
                placeholder="Nombre del curso"
                required />
                <div *ngIf="subject.invalid && (subject.dirty || subject.touched)"
                     class="alert alert-danger">
                    <div *ngIf="subject.errors.required">
                      El curso es requerido
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                      <label class="col-form-label text-periodo">Actividad:</label>
                    </div>
                    <div class="col">
                        <select class="form-control select-program"
                        [(ngModel)] = "currentProject.activity" name="activity">
                            <option value="individual" class="select-option" selected >Individual</option>
                            <option value="grupal" class="select-option"  >Grupal</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-text"
                [(ngModel)] = "currentProject.type" name="type" #type="ngModel"
                placeholder="Tipo de proyecto" required/>
                <div *ngIf="type.invalid && (type.dirty || type.touched)"
                     class="alert alert-danger">
                    <div *ngIf="type.errors.required">
                      El tipo de proyecto es requerido
                    </div>
                </div>
                <popover-content #myPopover
                    class = "help-popover"
                    placement="left"
                    [animation]="true"
                    [closeOnClickOutside]="true" >
                    <div class="help-text">
                      Ej. proyecto de grado, proyecto de diseño, proyecto de mitad de carrera,
                      proyecto de un curso, proyecto especial, tesis, proyecto de Expoandes.
                    </div>
                </popover-content>
                <a class="help" aria-label="Left Align" ata-container="body"
                [popover]="myPopover" [popoverDismissTimeout]="5000" >
                  <i class="fa fa-question-circle fa-2x color" aria-hidden="true"></i>
                </a>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                      <label class="col-form-label text-periodo">Semestre de desarrollo:</label>
                    </div>
                    <div class="col">
                        <select class="form-control select-program"
                        [(ngModel)] = "currentProject.period" name="period">
                            <option value="" disabled selected hidden>Semestre o vacaciones</option>
                            <option class="select-option" *ngFor="let period of periods"
                                [value]="period" >
                              {{period}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
              <select class="form-control select-program"
              [(ngModel)] = "currentProject.program" name="program" >
                <option value="" disabled selected hidden>Escoge tu programa...</option>
                <option class="select-option" *ngFor="let carrera of carreras"
                    [value]="carrera" >
                  {{carrera}}
                </option>
                <!-- <option *ngFor="carrera of carreras" class="select-option">{{carrera}}</option> -->
              </select>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group" style="text-align: center;">
                        <button (click)="saveProject()" class="btn btn-xl " [disabled]="projectForm.invalid">Empezar</button>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" style="text-align: center;">
                        <button (click)="cancelProject()" class="btn btn-xl" >Volver</button>
                    </div>
                </div>
            </div>
        </form>
      </div>
</div>
</div>
