<div class="container-cover" [style.min-height.px]="height" >
<div *ngIf="firstTime()" class="container container-full" >
    <div *ngIf="newProject" class="inicio" [style.margin-top.px]="height/2-120">
        <a (click)="start()" class="btn btn-xl ">Crea tu primer proyecto</a>
    </div>
    <div *ngIf="!newProject" class="container-form" [style.margin-top.px]="getMargin()">
          <div class="titulo-lista">
              <h2>Tus proyectos:</h2>
          </div>
          <div class="row card-header" *ngFor="let project of projects">
              <div class="col-11 project-name">
                {{project.title}}
              </div>
              <div class="col-1 project-delete">
                  <i class="fa fa-trash-o fa-3x delete-button" aria-hidden="true"></i>
              </div>
          </div>
    </div>
    <div *ngIf="false" class="container-form" [style.margin-top.px]="getMargin()">
        <div class="login-text">
            <h2>Tu nuevo proyecto:</h2>
        </div>
        <form  name="form" class="form-login"   novalidate>
            <div class="form-group">
                <textarea class="form-control text-titulo" id="exampleTextarea"
                [(ngModel)] = "currentProject.title" name="title"
                rows="4" placeholder="Titulo de tu proyecto"></textarea>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-text"
                [(ngModel)] = "currentProject.adviser" name="adviser"
                placeholder="Nombre del asesor" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-text"
                [(ngModel)] = "currentProject.subject" name="subject"
                placeholder="Nombre del curso" />
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                      <label class="col-form-label text-periodo">Actividad:</label>
                    </div>
                    <div class="col">
                        <select class="form-control select-program"
                        [(ngModel)] = "currentProject.activity" name="activity">
                            <option value="individual" class="select-option" selected >Individual</option>
                            <option value="grupal" class="select-option"  >Grupal</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-text"
                [(ngModel)] = "currentProject.type" name="type"
                placeholder="Tipo de proyecto"  />
                <popover-content #myPopover
                    class = "help-popover"
                    placement="left"
                    [animation]="true"
                    [closeOnClickOutside]="true" >
                    <div class="help-text">
                      Ej. proyecto de grado, proyecto de diseño, proyecto de mitad de carrera,
                      proyecto de un curso, proyecto especial, tesis, proyecto de Expoandes.
                    </div>
                </popover-content>
                <a class="help" aria-label="Left Align" ata-container="body"
                [popover]="myPopover" [popoverDismissTimeout]="4000" >
                  <i class="fa fa-question-circle fa-2x color" aria-hidden="true"></i>
                </a>
            </div>
            <div class="form-group">
                <div class="row">
                  <div class="col">
                    <label class="col-form-label text-periodo">Periodo:</label>
                  </div>
                  <div class="col col-year">
                  <input type="number" class="form-control input-year" size="4" min="1990"
                  [max]="this.year" step="1"
                  [(ngModel)] = "currentProject.period.year" name="year" />
                  </div><div class="col">
                  <input type="number" class="form-control input-periodo" size="1"
                  min="1990" max="3" step="1"
                  [(ngModel)] = "currentProject.period.semester" name="semester" />
                  </div>
                </div>
            </div>
            <div class="form-group">
              <select class="form-control select-program"
              [(ngModel)] = "currentProject.program" name="program" >
                <option value="" disabled selected hidden>Escoge tu programa...</option>
                <option class="select-option" *ngFor="let carrera of carreras"
                    [value]="carrera" >
                  {{carrera}}
                </option>
                <!-- <option *ngFor="carrera of carreras" class="select-option">{{carrera}}</option> -->
              </select>
            </div>
            <div class="form-group" style="text-align: center;">
                <a (click)="saveProject()" class="btn btn-xl ">Empezar</a>

            </div>
        </form>
      </div>
</div>
</div>
