<div class="container">
    <form name="form" class="form-dashboard"   novalidate>
        <div *ngIf="currentSurveyId==''" class="form-group">
            <select class="form-control select-dashboard" required
            (change)="loadQuestions()"
            [(ngModel)] = "currentSurveyId" name="survey" #survey="ngModel">
              <option value="" disabled selected hidden>Escoge la encuesta</option>
              <option class="select-option" *ngFor="let survey of surveys"
                  [value]="survey._id" >
                  {{survey.name}}
              </option>
            </select>
            <div *ngIf="survey.invalid && (survey.dirty || survey.touched)"
                 class="alert alert-danger">
              <div *ngIf="survey.errors.required">
                Selecciona una encuesta
              </div>

            </div>
        </div>
        <div *ngIf="currentSurveyId && currentQuestionId==''" class="form-group">
          <div class="radio" *ngFor="let question of questions">
              <label class="question-text">
                <input type="radio" name="optradio"
                  [(ngModel)] = "currentQuestionId" [value]="question._id"
                  (change)="downloadable()">
                {{question.title}}
              </label>
              <div class="separator"></div>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <label class="col-form-label text-periodo">Año:</label>
            </div>
            <div class="col col-year">
                <input type="number" class="form-control input-year" size="4" min="1990"
                [max]="this.year" step="1"
                [(ngModel)] = "currentProject.period.year" name="year" />
            </div>
        </div> -->
        <div *ngIf="isDownloadable" class="add-category">
            <a (click)="downloadSurveyAnswer()" class="btn add-category-button">Descargar</a>
        </div>
    </form>
</div>
