
<div id='toolbar' class="container">
    <div class="btn-group" role="group">
        <button routerLink="./survey" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        type="button" class="btn btn-secondary" >
            <svg  id="list" class="list"></svg>
            <span class="toolbar-text">cuestionario </span>
        </button>
        <button routerLink="./find" routerLinkActive="active" type="button" class="btn btn-secondary">
            <svg  id="search" class="search" ></svg>
            <span class="toolbar-text">buscar </span>
        </button>
        <button routerLink="./dashboard" routerLinkActive="active" type="button" class="btn btn-secondary">
            <svg  id="chart" class="chart" ></svg>
            <span class="toolbar-text">estadisticas </span>
        </button>
    </div>
</div>
