.container-cover{
  background: url(../../assets/bg-pattern.png),#7b4397;
  background: url(../../assets/bg-pattern.png),-webkit-linear-gradient(to left,#7b4397,#dc2430);
  background: url(../../assets/bg-pattern.png),linear-gradient(to left,#7b4397,#dc2430);
}
