/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container-full{
  position: relative;
  padding: 90px 0 0 0;
  width: 100%;
  text-align: center;
}

.container-cover {
	position: relative;
  padding-left: 0;
  padding-right: 0;
	min-width: 100%;
  height: auto;
	background: url(./assets/bg-pattern.png),#141877;
	background: url(./assets/bg-pattern.png),-webkit-linear-gradient(to left,#141877,#151933);
	background: url(./assets/bg-pattern.png),linear-gradient(to right,#141877,#151933);
	color: #fff;
}

.loading-cover{
  position: absolute;
  top: 0;
  left: 0;
	background: url(./assets/bg-pattern.png),#141877;
	background: url(./assets/bg-pattern.png),-webkit-linear-gradient(to left,#c0c0c7,#e0f6f3);
	background: url(./assets/bg-pattern.png),linear-gradient(to right,#1c1c39,#1e443e);

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.loading-container{
  position: inherit;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  min-height: 10px;
}

.loading{
  margin: auto;
  top: 50%;
  width: 120px;
  height: 120px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width : 960px){
  .container-full{
    padding-top: 100px;
  }
  .container {
    max-width: 960px;
  }
}
