<div class="container-cover" >
<div class="container full-container" [style.min-height.px]="height">
<div class="container-question-full">
    <div class="container container-question">
        <div class="question-title">
            <p>¿Toda investigación con seres humanos requiere consentimiento informado de los participantes, ¿usted diseñó el formato del consentimiento informado teniendo en cuenta la lista de criterios necesarios?</p>
        </div>
        <div class="respuessta-abierta">
            <div class="form-group">
                <textarea class="form-control" name="name" rows="3" ></textarea>
            </div>
        </div>
        <div class="respuesta-unica">
            <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="tipo">
                      Opcion1
                </label>
            </div>
        </div>
    </div>
</div>
</div>
</div>
